{% load static %}
<footer class="footer">
    <div class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer_info text-center">
                        <div class="footer_logo text-center">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'img/footer-logo.png' %}" alt="">
                            </a>
                        </div>
                        <p class="footer_text">
                            Explore photo media blog to enrich your photography knowledge
                        </p>
                        <div class="header_links">
                            <ul>
                                <li><a href="https://www.facebook.com/groups/2078151618944335/?ref=group_browse" target="_blank"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="twiter" href="https://twitter.com/globalhq1" target="_blank"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="insta" href="https://www.instagram.com/adventuretravels/" target="_blank"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom ">
        <div class="container">
            <div class="footer_border">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer_links text-center">
                            <ul>
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'category' %}">category</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_text text-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </p>
        </div>
    </div>
</footer>