{% load static %}
<header>
    <div class="header-area ">
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-md-4 d-none d-md-block">
                        <div class="header_links ">
                            <ul>
                                <li><a href="https://www.facebook.com/groups/2078151618944335/?ref=group_browse" target="_blank"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="twiter" href="https://twitter.com/globalhq1" target="_blank"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="insta" href="https://www.instagram.com/adventuretravels/" target="_blank"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 d-none d-md-block">
                        <div class="login_resiter">
                            {% if request.user.is_authenticated%}
                            {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
                            {% else %}
                            <p><a href="{% url 'login' %}"><i class="flaticon-user"></i>login</a> | <a href="{% url 'register' %}">Resister</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area white-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'category' %}">Category</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>